.main{
    padding: 10%;
    background-color: darkgray;
}

h1{
    color: black;
    letter-spacing: 3px; 
    font-size: 50px;
    margin-top: 0%;
    }

h2{
    color: rgb(69, 46, 201);
    font-size: 40px;
    text-decoration: maroon;
    text-shadow: mediumseagreen;
    font-family: 'Lucida Sans';
    letter-spacing: 5px;
    text-shadow: palevioletred 3px 3px;
    margin-bottom: 0%;
    
}

h3{
    color: rgb(19, 4, 26);
    margin-bottom: 0px;
}


.facts{
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 25px;
    border-color: brown;
}

.music{
    border-style: solid;
    border-radius: 15px;
    border-color: brown;
    padding: 25px;
}
p{
    color:rgb(5, 44, 44);
    font-family: monospace;
    font-weight: 900;
    font-size: 1.5vw;
    margin: 2px;
}

li{
    
    color:black;
    font-weight: 500 ;
    font-size: 1.2vw;
    font-display: ;
    margin: 5px;
    }

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.footer{
    text-align: center;
}